<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>
    <div id="app" class="p-5">

        <div>
            <select class="form-control" v-model="selectedStyle">
                <option value="alert alert-success">Success</option>
                <option value="alert alert-warning">Warning</option>
                <option value="alert alert-info">Info</option>
                <option value="alert alert-danger">Danger</option>
            </select>
            <p :class="selectedStyle">Vue.js</p>
        </div>
            <hr>
        <div>
            <p :class="[successBg, whiteText, 'jumbotron']">Nuxt.js</p>
        </div>    
            <hr>
        <div class="form-group row">
            <label for="name" class="col-sm-2">Name</label>
            <div class="col-sm-10">
                <input type="text" id="name" v-model="user.name" :class="{ 'form-control is-valid' : user.name, 'form-control is-invalid' : !user.name }" >
                <span> {{user.name.length}} character</span>
            </div>
        </div>   
            <hr> 
        <div class="form-group row">
            <label class="col-sm-2">Role</label>
            <div class="col-sm-10">
                <span :class="{ 'badge badge-success' : user.role == 'Admin', 'badge badge-warning' : user.role == 'Employee' }">{{user.role}}</span>
            </div>
        </div>  
            <hr>
        <div>
            <p :style="style">Mustafa Peynirci</p>
        </div>      

    </div>

    <script src="../assets/js/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            name: "vueDevelopmentProject",
            data: {
                selectedStyle: "alert alert-success",
                successBg: "bg-success",
                whiteText: "text-white",
                user: {
                    id: 1,
                    name: "Mustafa",
                    role: "Admin"
                },
                style: {
                    color: "red",
                    fontSize: "23px"
                }
            }
        })
    </script>
</body>
</html>